body{
    padding:0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #f56363;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
@-webkit-keyframes fadeInLeft {
            0% {
               opacity: 0;
               -webkit-transform: translateX(-800px);
            }
            100% {
               opacity: 1;
               -webkit-transform: translateX(0);
            }
         }

         @keyframes fadeInLeft {
            0% {
               opacity: 0;
               transform: translateX(-800px);
            }
            100% {
               opacity: 1;
               transform: translateX(0);
            }
         }
         @-webkit-keyframes fadeInRight {
                     0% {
                        opacity: 0;
                        -webkit-transform: translateX(800px);
                     }
                     100% {
                        opacity: 1;
                        -webkit-transform: translateX(0);
                     }
                  }

                  @keyframes fadeInRight {
                     0% {
                        opacity: 0;
                        transform: translateX(800px);
                     }
                     100% {
                        opacity: 1;
                        transform: translateX(0);
                     }
                  }
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.bg {
  /* The image used */
  background-image: url("files/backgroundphoto5.jpg");

  /* Half height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 1.6s;
  animation-fill-mode:forwards;
}
.typewrite{
    position: absolute;
    top: 50%;
    left: 50%;
    color:white !important;
    font-size: 60px;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
    transform: translate(-50%,-50%);
}
.typewrite:hover{
  color: white;
  text-decoration: none;
}
navbar navbar-expand-lg navbar-light bg-light{
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}
.navbar-light .navbar-nav{
  color: white;
  font-weight: 500;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}
.navbar-light .navbar-nav .nav-link {
  color: white;
  font-weight: 500;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}
.navbar-nav{
  margin-left: -150px;
}
.navbar-light .navbar-nav .nav-link:hover{
  color: grey;
}
.navbar-light .navbar-nav .nav-link.active{
    color: #F24259 !important;
}
.navbar-light .navbar-nav .nav-link:active{
    color: #F24259 !important;
}
.logo{
  top:0;
  left: 0;
  margin-top: -30px;
}
.timeline {
    list-style: none;
    padding: 5px 0 5px;
    position: relative;
}
.timeline h6 {
    margin-bottom: 0px;
    font-size: 15px;
}
.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 2px;
    background-color: #eeeeee;
    left: 49%;
    margin-left: -1.5px;
    background: rgb(80, 80, 80);
    background: -moz-linear-gradient(top, rgba(80, 80, 80, 0) 0%, rgb(80, 80, 80) 8%, rgb(80, 80, 80) 92%, rgba(80, 80, 80, 0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(30, 87, 153, 1)), color-stop(100%, rgba(125, 185, 232, 1)));
    background: -webkit-linear-gradient(top, rgba(80, 80, 80, 0) 0%, rgb(80, 80, 80) 8%, rgb(80, 80, 80) 92%, rgba(80, 80, 80, 0) 100%);
    background: -o-linear-gradient(top, rgba(80, 80, 80, 0) 0%, rgb(80, 80, 80) 8%, rgb(80, 80, 80) 92%, rgba(80, 80, 80, 0) 100%);
    background: -ms-linear-gradient(top, rgba(80, 80, 80, 0) 0%, rgb(80, 80, 80) 8%, rgb(80, 80, 80) 92%, rgba(80, 80, 80, 0) 100%);
    background: linear-gradient(to bottom, rgba(80, 80, 80, 0) 0%, rgb(80, 80, 80) 8%, rgb(80, 80, 80) 92%, rgba(80, 80, 80, 0) 100%);
}
.timeline > li {
    margin-bottom: 5px;
    position: relative;
}
.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li > .timeline-panel {
    width: 45%;
    text-align: left;
    float: right;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    padding: 15px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 7px;
    display: inline-block;
    border-top: 7px solid transparent;
    border-left: 7px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 7px solid transparent;
    content: " ";
	border-left-width: 0;
    border-right-width: 10px;
    left: -10px;
    right: auto;
}
.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 7px;
    display: inline-block;
    border-top: 7px solid transparent;
    border-left: 7px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 7px solid transparent;
    content: " ";
	border-left-width: 0;
    border-right-width: 10px;
    left: -10px;
    right: auto;
}
.timeline > li > .timeline-badge {
    color: #fff;
    width: 35px;
    height: 35px;
    line-height: 34px;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 8px;
    left: 50%;
    margin-left: -28px;
    background-color: #f56363;
    z-index: 8;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: left;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 12px;
    border-right-width: 0px;
    left: auto;
    right: -12px;
}
.timeline-inverted{
	padding-top:5px;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 12px;
    border-right-width: 0px;
    left: auto;
    right: -12px;
}
.timeline-heading{
    color:#000;
}
.timeline-title {
    margin-top: 0;
    color: inherit;
}
.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
    font-size: 13px;
        color: #777;
}
.timeline-body > p + p {
    margin-top: 5px;
}
.overlay {
  position: absolute;
  width: 100%;
  min-height: 100%;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
}

.timeline .date-info{
    position: absolute;
    top: -2px;
    left: 40%;
    margin-left: -28px;
    width: 100px;
}
.timeline-inverted .date-info{
        left: 51%;
}


.date-info .month{
    position: absolute;
    top: 10px;
    font-size: 14px;
    left: 70px;
}
.date-info .year{
    position: absolute;
    top: 23px;
    font-size: 14px;
    left: 70px;
}
.date-info .day{
        font-size: 18px;
}
@media (max-width: 768px) {
    .timeline:before {
        left: 0.9%;
    }
    .timeline .date-info{
      left: 45%
    }
    .timeline > li > .timeline-badge {
        left: 2.2%;
    }
    .timeline > li > .timeline-panel{
        width: 94%;
        margin-top: 30px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
        float: right;
    }
    .timeline > li.timeline-inverted > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 10px;
        left: -10px;
        right: auto;
    }
    .timeline > li.timeline-inverted > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 10px;
        left: -10px;
        right: auto;
    }
    .date-info {
        position: absolute;
        top: 1px;
        left: 90%;
        margin-left: -24px;
        width: auto;
        justify-content: center;
    }
    .timeline-inverted .date-info{
            left: 35%;
    }
    .date-info .day {
        font-size: 12px;
    }
    .date-info .month,.date-info .year{
        position: initial;
        font-size: 12px;
    }

}
.experience{
  width: 100%;
}

#thanks {
  background-color: #fff;
}
#thanks::after {
  content: none;
}
#thanks div {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
#thanks h2 {
  margin-bottom: 60px;
  color: #333;
  font : normal 300 64px/1 'Josefin Sans', sans-serif;
  text-align: center;
  white-space: nowrap;
}
#thanks p {
  color: #333;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
}
#thanks p a {
  color: #333;
  text-decoration: none;
  transition: color .3s;
}
#thanks p a:hover {
  color: #888;
}
.demo a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Poppins', sans-serif;;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.demo a:hover {
  opacity: .5;
}


#section10 a {
  padding-top: 60px;
  margin-left: -35px;
}
#section10 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}
#section10 a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.fadeleft.start{
  animation-name: fadeInLeft;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 2.3s;
  animation-fill-mode:forwards;
}
.faderight.start{
  animation-name: fadeInRight;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 2.3s;
  animation-fill-mode:forwards;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF4500;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF0000;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #87CEEB;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.techlogos{
   filter: invert(1);
}
.ps{
 filter: grayscale(100%);
}
